<!DOCTYPE html>
<html>
<head lang="en">
   <meta charset="UTF-8">
   <title></title>

   <link rel="stylesheet" href="css/styles.css">

   <script src="bower_components/jquery/dist/jquery.js"></script>
   <script src="bower_components/angular/angular.js"></script>
   <script src="bower_components/angular-resource/angular-resource.js"></script>

   <script src="dist/todoServices.min.js"></script>
   <script src="dist/todoApp.min.js"></script>
</head>
<body data-ng-app="TodoApp">

<div data-ng-controller="TodoController as vm">

   <h3>TODOs</h3>

   <ul>
      <li data-ng-repeat="todo in vm.todos">
         <input type="checkbox" data-ng-model="todo.done">
         <span class="todo-done-{{todo.done}}">{{todo.title}}</span>
      </li>
   </ul>

   {{vm.numberOfDoneTodos()}} of {{vm.todos.length}} remaining.

   <form name="addTodoForm" ng-submit="vm.addTodo(vm.newTodo)">
      <input type="text" name="title" ng-model="vm.newTodo.title" required="true">
      <input type="submit">
   </form>

</div>

</body>
</html>